a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
html {
    position: relative;
    min-height: 100%;
    text-decoration: none;
}

* {
    word-wrap:break-word;
}

img {
    max-width: 100%;
}
